/* Enter your custom styles here */

/* .sapMPanelBGTranslucent {
    background-color: #22303C;
}

.sapMTB-Transparent-CTX.sapMTB {
    background-color: #15202B;
}

.sapMTitle {
    color: white;
} */